:root {
	--white: #ffffff;
	--blue: #1e0e62;
	--purple: #482be7;
	--text-color: rgba(21, 20, 57, 0.4);
	--background-button: #25dac5;
	--background: #f1f1f1;
	--text-xs: 1.6rem;
	--text-s: 1.8rem;
	--text-sm: 2.2rem;
	--text-m: 2.4rem;
	--text-l: 4.2rem;
	--text-xl: 5.2rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'DM Sans', sans-serif;
	width: 100vw;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	padding: 25px 30px;
}

#header .left h1 {
	font-size: var(--text-m);
	color: var(--blue);
}

#header .right button {
	width: 100px;
	height: 40px;
	font-family: 'DM Sans', sans-serif;
	font-size: var(--text-xs);
	border: 2px solid #ebeaed;
	border-radius: 100px;
	background-color: white;
	color: var(--blue);
}

.presentation {
	display: flex;
	flex-direction: column;
	padding: 60px 40px 0;
	background-color: var(--background);
	border-bottom: 1px solid #9999a7;
}

.presentation h1 {
	margin-bottom: 40px;
	font-size: var(--text-l);
	color: var(--blue);
}

.presentation .presentation--text_phrase {
	margin-bottom: 40px;
	font-size: var(--text-sm);
	color: var(--text-color);
	padding: 0 20px 0 0;
}

.presentation .profile-photo {
	margin-bottom: 60px;
}

.skills {
	padding: 58px 40px 0;
	background-color: var(--background);
}

.skills--text p {
	font-size: var(--text-xl);
	color: var(--blue);
	margin-bottom: 20px;
}

.skills--text p:last-child {
	font-size: var(--text-sm);
	color: var(--text-color);
	margin-bottom: 60px;
}

.skills--tecnologies {
	display: flex;
	flex-direction: column;
}

.skills--tecnologies > div {
	margin-bottom: 60px;
}

.skills--tecnologies > div > p {
	margin-bottom: 22px;
	font-size: var(--text-s);
	color: var(--blue);
}
.skills--tecnologies > div > p:last-child {
	width: 282px;
	font-size: var(--text-xs);
	color: var(--text-color);
	font-family: 'DM Sans';
	line-height: 26px;
}

.experience {
	padding: 58px 40px 58px;
}

.experience-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experience-text > p:first-child {
	color: var(--blue);
	font-size: var(--text-xl);
	margin-bottom: 16px;
}

.experience-text > p:nth-child(2) {
	text-align: center;
	color: var(--text-color);
	font-size: var(--text-sm);
	margin-bottom: 16px;
}

.experience-text .btn {
	width: 200px;
	height: 50px;
	color: var(--white);
	border-radius: 100px;
	background-color: var(--background-button);
	font-size: var(--text-s);
	border: none;
}

.experience-galery {
	display: grid;
	grid-template: repeat(2, 1fr) / 1fr;
	padding: 58px 0;
}

.experience-galery__works {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.experience-galery__works img {
	width: 100%;
	margin-bottom: 12px;
}

.experience-galery__works > p {
	font-size: var(--text-sm);
	color: var(--blue);
	margin-bottom: 12px;
}

.experience-galery__works > p:last-child {
	font-size: var(--text-xs);
	color: var(--text-color);
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	background-color: var(--background);
	font-size: var(--text-sm);
	text-align: center;
}

#footer > p:first-child {
	color: var(--blue);
}

#footer > p {
	color: var(--purple);
}

#footer .icons-container {
	margin: 40px;
}

#footer .icons-container img {
	padding: 0 30px;
}

@media only screen and (min-width: 768px) {
	.presentation .profile-photo {
		width: 408px;
	}

	.experience-galery {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		gap: 10px;
	}

	.experience-galery__works img {
		width: 90%;
	}
}

@media only screen and (min-width: 1024px) {
	.presentation {
		display: grid;
		grid-template: repeat(2, 180px) / repeat(2, 1fr);
		border-bottom: none;
		padding-bottom: 48px;
	}

	.presentation p {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.presentation h1 {
		align-self: center;
		margin-bottom: 10px;
	}

	.presentation .profile-photo {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		width: 100%;
		align-self: center;
		margin-bottom: 0;
	}

	.skills--text {
		text-align: center;
		width: 76%;
		margin: 0 auto;
	}

	.skills--text p {
		font-size: var(--text-l);
	}

	.skills--tecnologies {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
	}

	.skills--tecnologies div {
		padding: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.presentation {
		display: grid;
		grid-template: repeat(2, 180px) / repeat(2, 1fr);
		border-bottom: none;
		padding-bottom: 48px;
	}

	.presentation p {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.presentation h1 {
		align-self: center;
		margin-bottom: 10px;
	}

	.presentation .profile-photo {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		width: 100%;
		align-self: center;
		margin-bottom: 0;
	}

	.skills--text {
		text-align: center;
		width: 76%;
		margin: 0 auto;
	}

	.skills--text p {
		font-size: var(--text-l);
	}

	.skills--tecnologies {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
	}

	.skills--tecnologies div {
		padding: 20px;
	}

	#footer {
		font-size: 58px;
	}
}

@media only screen and (min-width: 1440px) {
	.presentation .profile-photo {
		width: 80%;
	}

	.experience-galery {
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		gap: 10px;
	}
}
